/* CSS Document */

.font{font-size:12px;}
.line1{width:600px;border:dotted #999999 1px;line-height:0px; text-align:center;margin-left:20px;}
.line2{border:dotted #999999 1px;line-height:0px;margin-left:20px;width:300px;}